# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Envs
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled
*.pyc
*.pyo

# ------------------------------
# Jupyter Notebook
# ------------------------------
.ipynb_checkpoints/
# Evita checkpoints gigantes dentro do notebook

# ------------------------------
# Jupyter / IPython
# ------------------------------
profile_default/
ipython_config.py

# ------------------------------
# Packaging
# ------------------------------
build/
dist/
*.egg-info/
.eggs/

# ------------------------------
# Logs / cache
# ------------------------------
*.log
.cache/
.pytest_cache/
.coverage
htmlcov/

# ------------------------------
# Django / Flask (caso use)
# ------------------------------
db.sqlite3
instance/
.webassets-cache/

# ------------------------------
# Tools
# ------------------------------
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

# ------------------------------
# IDEs
# ------------------------------
# VSCode
.vscode/

# PyCharm / IntelliJ
.idea/

# Spyder / Rope
.spyderproject
.spyproject
.ropeproject

# ------------------------------
# Mac / Linux / Windows idioms
# ------------------------------
.DS_Store
Thumbs.db
