# ==============================================
# IDEs / Editores
# ==============================================
# PyCharm / IntelliJ
.idea/

# VSCode
.vscode/

# Spyder / Rope
.spyderproject
.spyproject
.ropeproject

# ==============================================
# Python
# ==============================================
__pycache__/
*.py[cod]
*$py.class

# Byte-compiled
*.pyc
*.pyo


# ==============================================
# Virtual Envs
# ==============================================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# ==============================================
# Jupyter Notebooks
# ==============================================
.ipynb_checkpoints/
# evita checkpoints gigantes dentro do notebook

# Jupyter / IPython
profile_default/
ipython_config.py


# ==============================================
# Packaging
# ==============================================
build/
dist/
*.egg-info/
.eggs/


# ==============================================
# Logs / Cache
# ==============================================
*.log
.cache/
.pytest_cache/
.coverage
htmlcov/


# ==============================================
# Django / Flask (se aplicável)
# ==============================================
db.sqlite3
instance/
.webassets-cache/


# ==============================================
# Tools / Analisadores
# ==============================================
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/


# ==============================================
# SO (Mac / Linux / Windows)
# ==============================================
.DS_Store
Thumbs.db


# ==============================================
# DataBase (ignorar banco de dados SQLite)
# ==============================================
DataBase/
database/

